[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
psycopg2 = "*" # added to interact with postgres database
uwsgi = "*" # added for heroku app only

[packages]
flask-restful = "*"
flask-jwt = "*"
pipfile = "*"
flask-sqlalchemy = "*"


[requires]
python_version = "3.7"
